<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" 
        xmlns:rim="http://www.blackberry.com/ns/widgets" 
		version="1.0.0.0">
  <name>commonPitfalls</name>

<access uri="https://www.facebook.com" subdomains="true">
   <feature id="blackberry.app.event" required="true" version="1.0.0"/>
    <feature id="blackberry.invoke"/>
    <feature id="blackberry.invoke.BrowserArguments" />
</access>

<access uri="http://www.facebook.com" subdomains="true">
   <feature id="blackberry.app.event" required="true" version="1.0.0"/>
    <feature id="blackberry.invoke"/>
    <feature id="blackberry.invoke.BrowserArguments" />
</access>

  <content src="index.html"/>
</widget>